profile = "automacao"
use-nat-gateway = true
user-data-file = "wordpress_user_data.sh"
ec2-key-pair = "NOME DA SUA KEY"
ec2-instance-type = "t2.micro"
ec2-ebs-size = 30
rds-username = "wpadmin"
rds-password = "Wp$2023_1983"
use-rds = false